module.exports={
    pages:{  //页面
        index:{
            js:["./src/js/index.js","./src/js/two.js"],
            css:["./src/css/index.css","./src/css/demo/demo1.css"]
        },
         index2:{
                    js:["./src/js/index2.js"],
                    css:["./src/css/index2.css"]
                }
    },
    common:{  //共用的静态js和css
        js:["./src/js/common/jquery-3.2.0.min.js"],
        css:["./src/css/index2.css"]
    }
};