<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>自主练习</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/resect.css">
    <link rel="stylesheet" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/knowledge.css" />
	<script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>
</head>
<body ontouchstart="">
	<div class="container firstkonw">
		<div class="choose-time present-subject hide">
			<a href="javascript:;"><div class="time-group"><span class="choose-name2">当前学科</span><span class="choose-icon"></span><span class="subject-knowledge">初中数学</span></div></a>
		</div>
		<div class="choose-time allData">
		</div>
	</div>
	<script type="text/javascript" src="../static/js/API.js"></script>
	<script type="text/javascript" src="../static/js/part/layer.js"></script>
<script type="text/javascript" src="../static/js/home/knowledge.js"></script>
</body>
</html>