<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>推荐练习</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/resect.css">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/Consolidexercise.html_aio.css" />
</head>
<body ontouchstart="">
	<div class="container">
		<div class="consolidateexer-mainbody">
			<div class="choose-subject-1">
				<a href="javascript:;">
					<div class="time-group subjectDiv">
						<span class="current-subject">当前学科</span>
						<span class="choose-icon"></span>
						<span class="subject-knowledge"></span>
					</div>
				</a>
			</div>
			<div class="choose-subject-2 allchoose">
				<div class="loading-tip" style="width: 100%;text-align: center;font-size: 16px;color: #999;line-height: 40px;">
					<span id="loadover"></span>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script type="text/javascript" src="../static/js/API.js"></script>
	<script type="text/javascript" src="../static/js/part/layer.js"></script>
<script type="text/javascript" src="../static/js/home/consilidateexeall.js"></script>
</body>
</html>