<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>做题</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/resect.css">
	<link rel="stylesheet" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/modal.css">
	<link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/Exercise.html_aio.css" />
	<script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../static/js/part/layer.js"></script>
	<script type="text/javascript" src="../static/js/API.js"></script>
</head>
<body ontouchstart="">
<div class="container cf" style="position:relative;">
	<div class="content cf">
		<div class="top cf">
			<div class="mistake-style cf" id="topTotal"></div>
			<a id="lookAll" href="javascript:;">全部试题</a>
		</div>
		<div class="comprehension cf">
			<div id="questionDiv" class="stem cf">
				<img class="img">
			</div>
		</div>
	</div>
	<div id="slideBox" class="slideBox">
		<div class="bd">
			<ul>
			</ul>
		</div>
		<div class="hd">
			<ul></ul>
		</div>
	</div>
	<!-- 引导页优化版start -->
	<div class="modal cf guidInfo">
		<div class="modal-mask">
		</div>
		<div class="modal-content cf">
			<div class="modal-head cf">
			</div>
			<div class="modal-body cf">
			</div>
		</div>
	</div>
	<!-- 引导页优化版end -->
	<div id="allExercise" class="allExercise container cf" >
    <div class="allExercise-modal" >
        <div class="all-exercise cf">
            全部试题<span class="btn-return"></span>
        </div>
        <div class="all-exercise main cf" >
        </div>
        <div class="btn-submit cf" style="">
            <a href="javascritp:void();">提交</a>
        </div>
    </div>
    </div>
</div>

<div class="modalImg">
	<div class="divImg"><img class="bigimg"></div>
</div>
<script type="text/javascript" src="../static/js/home/Exercise.html_aio.js"></script>
</body>
<script type="text/javascript" src="../static/js/part/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="../static/js/part/modal.js"></script>
</html>