<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>错题列表</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/resect.css">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/Mistakelist.html_aio.css" />
</head>
<body ontouchstart="">
	<div class="container cf">
		<div id="content_list" class="content content_list cf" >
<!-- 试题详情头部start -->
	<div class="top cf">
		<div id="span_name" class="mistake-style cf">字词句段篇章(3题)</div>
		<a id="deleteAll" href="javascript:;">全部删除</a>
	</div>
			<div class="loading-tip" style="width: 100%;text-align: center;font-size: 16px;color: #999;line-height: 40px;visibility:hidden;margin-bottom: 10px;">
				<span id="loadover" style="visibility: hidden;"></span>
			</div>
		</div>
<!-- 试题详情底部操作栏部分start -->
	<div class="palette palette0 cf">
		<a id="createPaper" href="javascript:;" class="cement cf">巩固练习</a>
	</div>

	</div>
	<script type="text/javascript" src="../static/js/API.js"></script>
	<script type="text/javascript" src="../static/js/part/layer.js"></script>
	<script type="text/javascript" src="../static/js/home/Mistakelist.html_aio.js"></script>
</body>
</html>