<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的错题</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/resect.css">
    <script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>

    <link rel="stylesheet" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/Mymistakes.html_aio.css?v=1"/>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?3d591995df5040b5f9b39ecb2ed70300";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body ontouchstart="" class="mymis">
<div class="container">
    <!-- 头部固定切换start -->
    <div class="fix-tab cf hide changeChild">
        <span class="textChild"></span>
        <a href="javascript:;" class="btnChild">切换</a>
    </div>
    <!-- 头部固定切换end -->
    <div class="mainbody">
        <div class="cf nav-div">
        <!-- 我的错题头部 start -->
        <ul class="cf mymis-nav">
            <li>
                <div>
                    <span>今日错题（题）</span>
                    <span class="misnum cf todayError">0</span>
                </div>

            </li>
            <li>
                <div>
                    <span>累计错题（题）</span>
                    <span class="misnum cf statisticsError">0</span>
                </div>

            </li>
        </ul>
        <!-- 我的错题头部 end -->
    </div>
        <!-- 当前学科与错题产生时间start -->
        <div class="cur-subtime cf">
        <a href="javascript:;" id="jsubject">
            <div class="time-group cf">
                <em class="clickicon cursub"></em>
                <span class="choose-name2">当前学科</span>
                <span class="choose-icon"></span>
                <span class="subject-knowledge jvalue"></span>
            </div>
        </a>
        <a href="javascript:;" id="jtime">
            <div class="time-group cf">
                <em class="clickicon time-icon"></em>
                <span class="choose-name2">错题产生时间</span>
                <span class="choose-icon"></span>
                <span class="subject-knowledge jvalue"></span>
            </div>
        </a>
        </div>
        <div class="mytree-topic cf hide hasdata">
            我的错题树
        </div>
        <!-- 当前学科与错题产生时间end -->
        <div class="cf tree-div hide hasdata">
            <div class="newadd cf" id="treedemo">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/API.js"></script>
<script type="text/javascript" src="../static/js/part/layer.js"></script>
<script src="../static/js/home/Mymistakes.html_aio.js"></script>
</body>
</html>
