<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<title>孩子切换</title>
	<link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/resect.css">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/tab-child.css" />
</head>
<body ontouchstart="">
	<div class="container con-scroll">
		<div class="status-fix">
		<i><img src="../static/images/attent-icon.png"></i>您当前选择的孩子为<em class="currentChild"></em></div>
		<!-- 切换孩子模块start -->
		<div class="tab-child panel-scroll cf">
			<ul>
				<!--<li>
					<span><img src="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/evaluation/wap/static/images/sculpture.png"></span>
					<p>姓名：大张伟</p>
				</li>
				<li>
					<span><img src="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/evaluation/wap/static/images/sculpture.png"></span>
					<p>姓名：大张伟</p>
				</li>
				<li>
					<span><img src="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/evaluation/wap/static/images/sculpture.png"></span>
					<p>姓名：大张伟</p>
				</li>-->
			</ul>
		</div>
		<!-- 切换孩子模块end -->
	</div>
	<script type="text/javascript" src="../static/js/API.js"></script>
	<script type="text/javascript" src="../static/js/part/layer.js"></script>
	<script type="text/javascript" src="../static/js/home/tabchild.js"></script>
</body>
</html>