<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>试题详情</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/resect.css">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/UedOss/xxdev/mistakes/wap/pkg/Testsdetail.html_aio.css" />
</head>
<body ontouchstart="">
	<div class="container Testsdetail cf">
		<div class="content1 cf">
<!-- 试题详情头部start -->
	<div class="top cf">
		<div id="name" class="ellips time cf">沁园春 雪</div>
		<div class="peg cf topNum"></div>
	</div>
<!-- 试题详情头部end -->

<!-- 题干start -->
	<div class="stem cf tgIframe bigclick">
	</div>
<!-- 题干end -->
<!-- 答案模块start -->
	<div class="anwer cf">
		<div class="border_botm bigclick">
			<div class="answer-top cf">
				<span><img src="../static/images/widget/answer/anwer.png"></span>
				<em>答案</em>
			</div>
			<div class="anwer-detail cf">
			</div>
		</div>
	</div>
	<!-- 答案模块end -->
	<!-- 解析start -->
	<div class="colum cf">
		<div class="border_botm bigclick">
			<div class="colum-top cf">
				<span><img src="../static/images/widget/colum/analysis.png"></span>
				<em>解析</em>
			</div>
			<div id="analyze" class="colum-detail cf ">
			</div>
		</div>
	</div>
	<!-- 解析end -->

	<!-- 知识点start -->
	<div class="colum cf">
		<div class="border_botm">
			<div class="colum-top cf">
				<span><img src="../static/images/widget/colum/exampoint.png"></span>
				<em>考点</em>
			</div>
			<div id="point" class="colum-detail cf">
				段落的理解能力
			</div>
		</div>
	</div>
	<!-- 知识点end -->
		</div>
		<!-- 题目分析底部通栏 start -->
<div haveclick="no" class="topic-analysis palette0">
	<span>全部试题</span>
</div>
<!-- 题目分析底部通栏 end -->

		<!-- 标注错题 start -->
<div class="lebalmistake"></div>
		<div class="changeanswer display1" style="">
			<p class="changeanswer-title"></p>
			<ul id="selectq" class="answertable cf">

			</ul>
		</div>
<!-- 标注错题 end -->
	</div>

	<div class="modalImg">
		<div class="divImg"><img class="bigimg"></div>
		</div>

	<script type="text/javascript" src="../static/js/API.js"></script>
	<script type="text/javascript" src="../static/js/part/layer.js"></script>
<script type="text/javascript" src="../static/js/home/Testsdetail.html_aio.js"></script>
</body>
</html>
