html,body,.container{
	height: 100%;
}
.container{
    background-color: #fff;
}
.content,.content1{
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
     background-color: #fff;
}
.stem1{
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    background-color: #f8f8f8;
}
.content2{
    background-color: #fff;
}

/*.content.content_scro{
    heigh
}*/
/*试题详情完形填空 start*/
.content2{
	background: #f8f8f8;
}
.supernat{
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	box-shadow: 0px 0px 15px #999;
}
/*@media screen and (orientation:portrait) {
    .supernat{
    	height: 211px;
    }
}*/
/*@media screen and (orientation:landscape) {
    .supernat{
    	height: 110px;
    }
}*/
/*试题详情完形填空 end*/
 .supernat{
        height: 211px;
}
.border_botm{
    border-bottom: 1px solid #ddd;
    margin: 20px 15px 0px 20px;
    padding-bottom: 20px;
}

/*试题详情头部start*/
.top{
	height: 44px;
	border-bottom: solid 1px #ddd;
	padding: 0 15px;
	line-height: 44px;
	color: #939393;
	font-size: 14px;
	background: #f8f8f8;
}
.top .time{
	float: left;
	width: 70%;
}
.top .peg{
	float: right;
	font-size: 12px;
}
.top .peg span{
	color: #f26e61;
	font-size: 16px;
}
/*试题详情头部end*/
/*Ìâ¸Éstart*/
.stem{
	border-bottom: solid 1px #ddd;
	padding: 20px 15px;
	font-size: 15px;
	color: #333;
	background-color: #fff;
}
.content_list .stem{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: solid 1px #ddd;
}
.stem .title{
	margin-bottom: 15px;
}
/*Ìâ¸Éend*/

/*´íÌâÁÐ±íÌâ¸ÉÀ´Ô´²Ù×÷²¿·Östart*/

.handle .sourse-left{
	display: inline-block;
	width: 80%;
}
.handle  .sourse-left span{
	display: block;
	float: left;
}
.handle  .sourse-left span.redundant{
	display: block;
	width: 80%;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.handle  a{
	display: block;
	float: right;
	width: 44px;
	height: 22px;
	background: #5b9aee;
	line-height: 25px;
	text-align: center;
	border-radius: 3px;
}
.handle  a:active{
	background: #4986eb;
}
.handle  a img{
	width: 15px;
	height: 15px;
}
/*´íÌâÁÐ±íÌâ¸ÉÀ´Ô´²Ù×÷²¿·Öend*/
/*答案模块start*/
.anwer{
	/*padding: 20px 15px;*/
	/*border-bottom: solid 1px #ddd;*/
}
.anwer .answer-top{
	font-size: 14px;
	color: #939393;
	line-height: 14px;
	margin-bottom: 8px;
}
.anwer .answer-top span{
	display: block;
	float: left;
	width: 16px;
	height: 14px;
	background-size: cover;
	margin-right: 5px;
}
.anwer .answer-top span img{
	width: 100%;
}
.anwer-detail  em{
	display: inline-block;
	vertical-align: top;
	line-height: 24px;
}
.right-anwer{
	display: inline-block;
	width: 90%;
}
.anwer-detail label{
	line-height: 24px;
	color: #333;
}
.anwer-detail .sigle-anwer .right-anwer label.last-label{
	width: 42%;
	float: right;
}
.right-option{
	color: #39ba60;
}
.wrong-option{
	color: #f26e61;
}
.anwer-detail .more-anwer .right-anwer label{
	display: block;
}
/*答案模块end*/
/*解析start*/
.colum{
	/*padding: 20px 15px;
	border-bottom: solid 1px #ddd;*/
}
.content .colum:last-child{
border-bottom: none;
}
.colum .colum-top{
	font-size: 14px;
	color: #939393;
	line-height: 14px;
	margin-bottom: 8px;
}
.colum .colum-top span{
	display: block;
	float: left;
	width: 16px;
	height: 14px;
	background-size: cover;
	margin-right: 5px;
}
.colum .colum-top span img{
	width: 100%;
}
.colum .colum-detail{
	color: #333;
	font-size: 15px;
}
/*解析end*/


/*题目解析底部通栏 start*/
.topic-analysis{
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	border-top: 1px solid #ddd;
	background: #39bb61;
}
.topic-analysis:active{
	background: #33a857;
}
/*题目分析底部通栏 end*/
/*标注错题 start*/
.lebalmistake{
	position: absolute;
	right: 12px;
	bottom: 95px;
	display: inline-block;
	width: 58px;
	height: 58px;
	background: url(../../../static/images/widget/lebal/lebal-mistake.png) no-repeat center;
	background-size: 58px;
}
.lebalmistake-yes{
	background: url(../../../static/images/widget/lebal/lebal-mistake1.png) no-repeat center;
	background-size: 58px;
}
.changeanswer {
	display: none;
	position: absolute;
	bottom: 50px;
	width: 100%;
	padding: 0px 15px;
	background: #fff;
	box-shadow: 0px 0px 15px #999;
}
.answertable {
	padding: 10px 2px;
	font-size: 0px;
	list-style-type: none;
}
.answertable li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	width: 20%;
}
.answertable a.right-a {
	background: #39ba60;
}
.answertable a {
	display: block;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	margin: 10px auto;
}
.answertable a.error-a {
	background: #f26e61;
}
.answertable a.noans-a {
	border: solid 1px #c4c4c4;
	color: #999;
}
.topic-analysis{
	position1: fixed;
	width1: 100%;
	bottom1: 0;
}
/*标注错题 end*/
/* panx */
div.anwer-detail  em.hide{
	display: none;
}
.changeanswer{
	max-height: 80%;
	overflow-y: auto;
}
.img{
	width: 100%;
	max-width: 640px;
	height: auto;
	margin-bottom1:20px;
}
.modalImg{
	position:absolute;
	top:0;
	left:0;
	background-color:black;
	display: none;
	width:100%;
	height:100%;
	z-room:200;
}
.divImg{
	margin-top:20px;
	margin-bottom:40px;
	overflow: auto;
}
.divImg img{
	margin-top1:20px;
}
